In [1]:
import pandas as pd
df = pd.read_csv('D:\Code\Welding_Robot\DataSet\Env_Imgs_resized\Env_imgs_resized_label_csv.csv')

In [2]:
df.head(10)

,filename,file_size,file_attributes,region_count,region_id,region_shape_attributes,region_attributes
0,frame-0.jpg,2430,{},1,0,"{""name"":""point"",""cx"":51,""cy"":50}",{}
1,frame-1.jpg,2408,{},1,0,"{""name"":""point"",""cx"":51,""cy"":50}",{}
2,frame-2.jpg,2460,{},1,0,"{""name"":""point"",""cx"":51,""cy"":51}",{}
3,frame-3.jpg,4568,{},1,0,"{""name"":""point"",""cx"":50,""cy"":51}",{}
4,frame-4.jpg,6832,{},1,0,"{""name"":""point"",""cx"":50,""cy"":50}",{}
5,frame-5.jpg,6929,{},1,0,"{""name"":""point"",""cx"":50,""cy"":50}",{}
6,frame-6.jpg,7001,{},1,0,"{""name"":""point"",""cx"":50,""cy"":50}",{}
7,frame-7.jpg,6313,{},1,0,"{""name"":""point"",""cx"":50,""cy"":50}",{}
8,frame-8.jpg,6257,{},1,0,"{""name"":""point"",""cx"":50,""cy"":50}",{}
9,frame-9.jpg,6696,{},1,0,"{""name"":""point"",""cx"":50,""cy"":50}",{}

In [3]:
df.shape

(4708, 7)

In [4]:
df_row_idx = df.index
df_col_idx = df.columns
print(df_row_idx)
print(df_col_idx)

RangeIndex(start=0, stop=4708, step=1)
Index(['filename', 'file_size', 'file_attributes', 'region_count', 'region_id',
       'region_shape_attributes', 'region_attributes'],
      dtype='object')

In [5]:
df.dtypes

filename                   object
file_size                   int64
file_attributes            object
region_count                int64
region_id                   int64
region_shape_attributes    object
region_attributes          object
dtype: object

In [6]:
# Check missing values

df.isnull().sum()

filename                   0
file_size                  0
file_attributes            0
region_count               0
region_id                  0
region_shape_attributes    0
region_attributes          0
dtype: int64

In [7]:
import cv2 as cv
import albumentations as A

In [8]:

transform = A.Compose([
    A.RandomBrightnessContrast(brightness_limit=0.2, contrast_limit=0.2, p=1.0),
])

image = cv.imread("D:/Code/Welding_Robot/DataSet/Env_Imgs_resized/frame-0.jpg")
# image = cv.cvtColor(image, cv.COLOR_BGR2RGB)

transformed_image_1 = transform(image=image)['image']

cv.namedWindow('trans', cv.WINDOW_NORMAL)
cv.imshow('trans',transformed_image_1)
cv.waitKey(0)

-1

In [9]:
# df.to_csv('D:/Code/Welding_Robot/3D_Laser_Vision_Welding_Robot/Augment/ImgAndLabel.csv')

In [30]:
label_df = df[['filename','region_shape_attributes']]

In [12]:
label_df.to_csv('D:/Code/Welding_Robot/3D_Laser_Vision_Welding_Robot/Augment/ImgAndLabel.csv')

In [31]:
type(label_df)

pandas.core.frame.DataFrame

In [32]:
label_df.describe()

           filename           region_shape_attributes
count          4708                              4708
unique         4708                               466
top     frame-0.jpg  {"name":"point","cx":50,"cy":50}
freq              1                              1151

In [55]:
a = eval(label_df.iloc[2]['region_shape_attributes'])
a

{'name': 'point', 'cx': 51, 'cy': 51}

In [56]:
a['cx']

51